/* Style the collapsible */

.collapsible {
    padding: 2px 2px 2px 2px;
    border: 1px;
    border-style: solid;
    text-align: left;
    font-size: 15px;
    font-weight: 700;

}

.content {
    display: none;
    overflow: hidden;
    background-color: rgb(241, 241, 241);
    border-width: 2px 2px 2px 2px;
    border-radius: 0.5rem;
    border-style: solid;
    border-color: rgb(173,33,57);
    width: 102px;
    background-color:white;
    color: black;
}
.collapsible:after {
    padding-left: 2px;
    font-size: 0.75rem;
    content: '+';;
}
.active:after {
    content: "-";
}

/* Style the scroll button */
#scrollToBottomBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: rgb(173,33,57);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

/* Custom Hover for Download CV button items*/
.custom-hover:hover {
    background-color: #E2EBF0;
    transition: background-color 0.3s;
    text-decoration: underline;
  }
