.collapsible {
    padding: 2px 2px 2px 2px;
    border: 1px;
    border-style: solid;
    text-align: left;
    font-size: 15px;
    font-weight: 700;

}

.content {
    padding:2px 5px 2px 5px;
    display: none;
    overflow: hidden;
    background-color: rgb(241, 241, 241);
    border-width: 2px 2px 2px 2px;
    border-radius: 0.5rem;
    border-style: solid;
    border-color: rgb(173,33,57);
    width: 102px;
    background-color:white;
    color: black;
}
.collapsible:after {
    padding-left: 2px;
    font-size: 0.75rem;
    content: '+';;
}
.active:after {
    content: "-";
}
